/*
 * Copyright 2020 Matthias Bremm
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.myarea label {
  float: left;
  padding: 3px;
}

.myarea .legend {
  display: none;
}

.myarea input {
  float: left;
}

.myarea a {
  color: #000;
  float: left;
  padding: 3px;
}

.myarea a:hover {
  color: #c80;
}

.myarea .cml_row {
  float: left;
  display: none;
}


.mys .myc {
  display: none;
  border: solid;
  position: fixed;
  z-index: 5;

}


.mys .cml_field {
  margin: 0px;
}


.myarea .sPER {
  background: #0ff;  
}

.myarea .sLOC {
  background: #f0f;  
}

.myarea .sORG {
  background: #ff0;  
}






